@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --jp-primary: #0099ff;
  --jp-primary-900: #188edd;
  --jp-primary-800: #0561e2;
  --jp-black: #000000;
  --jp-black-900: #121316;
  --jp-black-800: #212121;
  --jp-white: #ffffff;
  --jp-white-900: #ffffff80;
  --jp-transparent: #00000000;
  --jp-grey: #f5f5f5;
  --jp-grey-900: #bcbcbf;
  --jp-grey-800: #a6adb7;

  --jp-font-light: 300;
  --jp-font-regular: 400;
  --jp-font-medium: 500;
  --jp-font-semibold: 600;
  --jp-font-bold: 700;

  --jp-gutter-x: 24px;
}

@layer base {
  body {
    @apply bg-black-900;
  }
}

@layer components {
  .container {
    @apply sm:max-w-[540px] md:max-w-[720px] 
      lg:max-w-[960px] xl:max-w-[1080px] 
      xxl:max-w-[1260px] xxxl:max-w-[1403px];
  }
  .btn-gradient-outline {
    @apply px-7 py-[26px] rounded-full text-white relative transition-all ease-in-out duration-500;
    background: linear-gradient(to right, transparent, #ffffff80, transparent);
    background-repeat: no-repeat;
    background-size: 150% 100%;
    background-position-x: 100%;
    &:hover {
      background-position-x: 0%;
    }
    &::before {
      @apply content-[""] absolute inset-px bg-black-800 rounded-full;
    }
  }
  .el-gradient-outline {
    @apply rounded-[27px] relative transition-all ease-in-out duration-500 *:z-[2] *:relative;
    background: linear-gradient(to left, #ffffff80, transparent);
    &::before {
      @apply content-[""] absolute inset-px bg-black-900 rounded-[27px];
    }
  }
}

@layer utilities {
  .text-clip-primary {
    background: linear-gradient(to right, #0099ff, #188edd, #0561e2) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media screen and (min-width: 1400px) {
    .reveal {
      opacity: 0;
      &.to-bottom {
        transform: translateY(-50px);
      }
      &.to-top {
        transform: translateY(50px);
      }
    }
  }
}
